
body {
    /* The background image was designed by the artist Hello-Pixel and was downloaded from http://www.freepik.com */
    /* A fallback color has been set, in case the browser fails to load the image */
    background: url(../images/background.jpg) #BEEFFE;
}

#gameplay {
    margin-top: 10vh;
    background-color: yellow;
    height: 500px;
}

.container {
    border: solid 3px black;
}

.modal {
    height: auto;
    border-radius: 10px;
    width: 80%;
    max-width: 912px; 

    /* Places the modals in the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#introModal {
    text-align: center;
    background-color: red;
    color: #000;
}

#playButton {
    font-weight: 700;
    font-size: xx-large;
}
