
/* Fonts imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600|Roboto:400,500&display=swap');

body {
    /* The background image was designed by Hello-Pixel and was downloaded from http://www.freepik.com */
    /* A fallback color has been set, in case the browser fails to load the image */
    background: url(../images/background.jpg) #81DAFC; 
}

#gameplay {
    margin-top: 10vh;
    height: 80vh;
    background-color: yellow;
}

.container {
    border: solid 3px black;
}

/*---------------Modals---------------*/

.modal {
    height: auto;
    border-radius: 10px;
    width: 80%;
    max-width: 912px; 

    /* Places the modals in the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-introduction {
    text-align: center;
    background-color: red;
    color: #000;
}

.modal-selection {

}

.modal-help {

}


/*---------------Buttons---------------*/

#playButton {
    font-weight: 700;
    font-size: xx-large;
}

.btn{
    
}

/* Call-To-Action buttons used in introduction and selection modals */
.btn-action {
    background-color: #81DAFC;
}

.btn-keyboard {
    
}

.btn-toggle-audio {
    
}

.btn-toggle-help {
    
}
